/* This stylesheet will be selected when you export HTML from InDesign */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /*your style rules go in here */
  background-color: white;
}

main {
  background-color: white;
  width: 70%;
  min-width: 650px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 100px crimson;
}

nav {
  /* this is where your nav list items will be */
 
}

section {
border:none;
border-width: 0;
}

/*Here follows the class names that you will have in your html*/
/*You may have more if you added styles in InDesign*/
/*You need to add the style attributes between the curly brackets*/

/* the following may not be used but it doesn't matter if they are listed here  */

/* If you ahe created any new styles in InDesign and used export tags then you need to add them here */

.dramatis {

  margin-left: 50px;

}
.play {
  margin-left: 20px;

}
.sceneImage {
  width: 60%;
  max-width: 500px;
  margin: 20px auto;
}

.Basic-Text-Frame{
  text-align: center;
  margin-bottom: 20px;
}

img {
  width: 100%;
  display: block;

}
.act {
  margin-bottom: 10px;
  text-align: center;

}
.character {
  position: relative;
  top: 20px;

}
.charactername {
  

}
.char_name {
  font-weight: bold;
}

.dramatishead {
  margin-bottom: 20px;

}

.location {
  font-size: 18px;
  margin-top: 20px;
}
.play_location {

}

.firstscene {
  
}

.scene {
   
}
.song {
  text-align: center;

}
.stagedirection {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  text-align: right;
}
.verseline {
  margin: 0 0 0.4em 8em;
  font-size: 15px;
}

.prose {
  margin: 0 0 0.4em 8em;
}

.character_role {
  font-style: italic;

}
.stage_directions_inline {
  font-style: italic;
}

