/* This stylesheet will be selected when you export HTML from InDesign */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 340px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /*your style rules go in here */
  background-color: white;
  padding-top: 150px;
}

main {
  background-color: white;
  width: 70%;
  min-width: 650px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 100px crimson;
}


section {
border:none;
border-width: 0;
}

/*Here follows the class names that you will have in your html*/
/*You may have more if you added styles in InDesign*/
/*You need to add the style attributes between the curly brackets*/

/* the following may not be used but it doesn't matter if they are listed here  */

/* If you ahe created any new styles in InDesign and used export tags then you need to add them here */

.dramatis {
  padding-top: 20px;
  text-align: center;


}
.play {

}
.sceneImage {
  width: 60%;
  max-width: 500px;
  margin: 20px auto;
}

.Basic-Text-Frame{
  text-align: center;
  margin-bottom: 20px;
}

img {
  width: 100%;
  display: block;

}
.act {
  margin-bottom: 10px;
  text-align: center;

}
.character {
  position: relative;
  top: 20px;
  margin-left: 10px;

}
.charactername {
  

}
.char_name {
  font-weight: bold;
}

.dramatishead {
  margin-bottom: 20px;

}

.location {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;

}
.play_location {
  margin-top: 20px;
  text-align: center;

}

.firstscene {
  text-align: center;
  
}

.scene {
  padding-top: 20px;
  text-align: center;
   
}
.song {
  text-align: center;

}
.stagedirection {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  text-align: right;
}
.verseline {
  margin: 0 0 0.5em 8em;
  font-size: 15px;
}

.prose {
  margin: 0 0 0.4em 8em;
}

.character_role {
  font-style: italic;

}
.stage_directions_inline {
  font-style: italic;
}

header {
  background-color: black;
  color: gold;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 101;
  
}

/* we hide the content icon until we are on a small screen */

input[type="checkbox"] {
  display: none;
}

.content {
  display: none;
  font-size: 2rem;
  color: white;
}

nav {
  width: 100%;
  position: fixed;
  top: 10px;
  left: 0;
  background-color: white;
  z-index: 100;
  box-shadow: 0 4px 8px 0 crimson;
  padding-top: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

nav ul li {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 8rem;
  text-align: center;
}

/* we turn off the underline and set the padding and the color */

nav ul li a {
  text-decoration: none;
  padding: 0.8rem 1rem;
  display: block;
  color: crimson;
}

/* feedback for the user with a background when hovering hover */

nav ul li:hover {
  background-color: white;
  box-shadow: 0 2px 4px 0 crimson;
}

nav ul li a:hover {
  color: black;
}

/* sub menus */

li ul {
  display: none;
  position: absolute;
  background-color: white;
  font-size: 15px;
}

li ul li a {
  padding: 0.3rem 1.5rem;
}

nav ul li:hover ul {
  display: flex;
  flex-direction: column;
}

nav ul li ul li {
  flex: 0 1 auto;
  width: 8rem;
  /* the same as the value for flex-basis on the parent li */
}
li.home {
  text-align: left;
  padding-left: 3rem;
  margin-right: 3rem;
  flex: 4 1 100px;
  align-self: flex-start;
}


/* now for the smaller displays */

@media screen and (max-width: 700px) {
  nav ul {
    flex-direction: column;

  }

  body {
    padding-top: 400px;
  }
  li ul {
    position: static;
  }

  nav ul li {
    flex: 0 0 auto;
    /*the same as flex-grow, flex-shrink, flex-basis */
    width: 100%;
  }

  nav ul li:hover ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
 

}