/* This stylesheet will be selected when you export HTML from InDesign */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /*your style rules go in here */
  background-color: white;
  padding-top: 70px;
}

main {
  background-color: white;
  width: 40%;
  min-width: 650px;
  margin: 0 auto;
  padding: 1rem 2rem;
  box-shadow: 0 0 100px crimson;
}


section {
border:none;
border-width: 0;
}

/*Here follows the class names that you will have in your html*/
/*You may have more if you added styles in InDesign*/
/*You need to add the style attributes between the curly brackets*/

/* the following may not be used but it doesn't matter if they are listed here  */

/* If you ahe created any new styles in InDesign and used export tags then you need to add them here */

.dramatis {
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.play {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sceneImage {
  width: 60%;
  max-width: 500px;
  margin: 20px auto;
}

.Basic-Text-Frame{
  text-align: center;
  margin-bottom: 20px;
  text-decoration: underline;
  
}

img {
  width: 100%;
  display: block;

}

.act {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
  padding-top: 1rem;
  border-top: 1px dotted crimson;
}

.character {
  font-size: 1rem;
  color: crimson;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: relative;
  top: 20px;
  margin: 12px 0 0 0;
}

.char_name{
  color: crimson;
}

.dramatishead {
  font-size: 1.5rem;
  color: white;
  background-color: crimson;
  margin: 0.7rem 0;
  padding: 0.54rem;
  text-align: center;
}

.location {
  font-size: 1rem;
  color: white;
  background-color: crimson;
  margin: 1rem 0;
  padding: 1rem;
  text-align: center;
}

.play_location {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  color: crimson;
  margin-top: 2rem;
  text-align: center;

}

.firstscene {
  text-align: center;
}

.scene {
  padding-top: 2rem;
  text-align: center;
  border-top: 1px dotted crimson;
  margin-top: 0.5rem;
   
}

.song {
   color: crimson;
   font-size: 1.1rem;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align: center;
}

.stagedirection {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 0.9em;
  text-align: right;
}

.verseline {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0 0 0.5em 10em;
  font-size: 1.1rem;
  margin-bottom: 6px;
  text-indent: -10px;
}

.prose {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0 0 0.5em 10em;
  font-size: 1rem;
  margin-bottom: 6px;
  text-indent: -10px;
  font-style: italic;
}

.character_role {
  font-style: italic;
}

.stage_directions_inline {
  font-style: italic;
  color: crimson;
}

.titlewithin{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
  text-align: center;
}


/* we hide the content icon until we are on a small screen */

nav {
  width: 100%;
  position: fixed;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 0.8rem;
  top: 0px;
  left: 0;
  background-color: black;
  z-index: 100;
  box-shadow: 0 4px 8px 0 crimson;
  /* padding-top: 10px; */
}

input[type="checkbox"] {
  display: none;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  clear: right;
}

nav ul li {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 8rem;
  text-align: center;
}

/* we turn off the underline and set the padding and the color */

nav ul li a {
  text-decoration: none;
  margin: 0.5rem 0;
  display: block;
  color: black;
  color: gold;
}

/* feedback for the user with a background when hovering hover */

nav ul li:hover {
  background-color: black;
  box-shadow: 0 2px 4px 0 crimson;
}

nav ul li a:hover {
  color: crimson;
}

/* sub menus */

li ul {
  display: none;
  position: absolute;
  background-color: black;
  font-size: 0.8rem;
}

li ul li a {
  margin: 0.3rem 0;
  font-size: 0.8rem;
}

nav ul li:hover ul {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

nav ul li ul li {
  flex: 0 1 auto;
  width: 8rem;
  /* the same as the value for flex-basis on the parent li */
}

li.home {
margin-right: auto;
}

.backtotop {
  position: fixed;
  bottom: 2px;
  right: 8px;
  opacity: 0.5;
  font-size: 50px;
  z-index: 102;
}


.hamburger{
  display: none;
  font-size: 2em;
  line-height: 1;
  color: white;
  margin-right: 0.8em;
  margin-bottom: 7px;
  padding: 0;
}

audio{
  width: 100%;
  padding: 0.6rem;
  z-index: 101;
}
/* now for the smaller displays */

@media screen and (max-width: 700px) {
  
  html {
    scroll-padding: 50px;
  }

  .dramatis{
    font-size: 1rem;
  }

  .verseline{
    font-size: 0.8rem;
  }

  .song{
    font-size: 0.8rem;
  }

  .prose{
    font-size: 0.8rem;
  }

  .character{
    font-size: 0.8rem;
  }
  nav{
    padding-top: 5px;
    background-color: black;
  }
  
  nav ul{
    flex-direction: column;
  }

  li ul {
    position: static;
  }

  nav ul li a{
    color: gold;
  }

  nav ul li{
    background-color: black;
    flex: 0 0 auto;
    width: 100%;
  }

  nav ul li:hover{
    background-color: black;
    box-shadow: none;
  }

  nav ul li:hover ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  body{
    font-size: 1rem;
    padding-top: 70px;
  }

  header {
    display: none;
  }

  .titlewithin{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
  }

  .hamburger{
    display: block;
    float: right;
    cursor: pointer;
  }

  nav ul {
    display: none;
  }

  input[type="checkbox"]:checked ~ ul {
    display: block;
  }

  main {
    width: 65%;
    max-width: 700px;
    margin: 0 auto;
    border:1px solid red;
    background-color: white;
  }

}
